# Core Agent Framework
langgraph
langgraph-checkpoint-sqlite
langchain
langchain-core
langchain-groq
langsmith
# LLM Client
groq

# Web UI
streamlit

# Google APIs
google-api-python-client
google-auth
google-auth-httplib
google-auth-oauthli

# Utilities
python-doten
pytz
requests
PyYAM
